<h1>ADD STUDENT'S SCORES</h1>
<p>Please enter student ID to proceed:</p>

<form method="post">
  Student's ID: <br>
  <input type="number" name="studentID"><br>
  <input type="submit" value="submit">
</form>