<div>
  <form method="post">
    First name:<br>
    <input type="text" name="firstname"><br>
    Last name:<br>
    <input type="text" name="lastname"><br>
    <p><em>Please select 3 courses for this semester</em></p>
    Course 1:<br>
      <select name="course1">
      <option value="1001">Math</option>
      <option value="1002">Science</option>
      <option value="1003">English</option>
      <option value="1004">History</option>
      <option value="1005">Geography</option>
      </select>
      <br><br>
    Course 2:<br>
      <select name="course1">
      <option value="1001">Math</option>
      <option value="1002">Science</option>
      <option value="1003">English</option>
      <option value="1004">History</option>
      <option value="1005">Geography</option>
      </select>
      <br><br>
    Course 3:<br>
      <select name="course1">
      <option value="1001">Math</option>
      <option value="1002">Science</option>
      <option value="1003">English</option>
      <option value="1004">History</option>
      <option value="1005">Geography</option>
      </select>
      <br><br>
    <input type="submit" value="submit">
  </form>
</div>
