<div>
  <form method="post">
    First name:<br>
    <input type="text" name="firstname"><br> 
    Last name:<br>
    <input type="text" name="lastname"><br>
    <p><em>Please select 3 courses for this semester</em></p>
    Course 1:<br>
      <select name="course1">
      <option value="math">Math</option>
      <option value="science">Science</option>
      <option value="physical-education">Physical Education</option>
      <option value="art">Art</option>
      <option value="english">English</option>
      </select>
      <br><br>
    Course 2:<br>
      <select name="course1">
      <option value="math">Math</option>
      <option value="science">Science</option>
      <option value="physical-education">Physical Education</option>
      <option value="art">Art</option>
      <option value="english">English</option>
      </select>
      <br><br>
    Course 3:<br>
      <select name="course1">
      <option value="math">Math</option>
      <option value="science">Science</option>
      <option value="physical-education">Physical Education</option>
      <option value="art">Art</option>
      <option value="english">English</option>
      </select>
      <br><br>
    <input type="submit" value="submit">
  </form>
</div>