<h1>MANAGE YOUR STUDENTS' SCORES</h1>
<div class="index-main">
    <div id="studentlist"><a class="main-page-button" href="/students-list">
        STUDENTS LIST<br>
        <img src='studentList.png' class="indexImage">
    </a></div>
    <div id="subjectlist"><a class="main-page-button" href="/subjects-list">
        SUBJECTS LIST<br>
        <img src='subjectList.png' class="indexImage">
        </a></div>
    <div id="addstudent"><a class="main-page-button" href="/add-student">
        ADD STUDENT<br>
        <img src='addStudent.png ' class="indexImage">
        </a></div>
    <!-- might not applicable as teacher should access to add score page from students list
    <div><a href="/add-score">ADD SCORE</a></div>
    -->
</div>
