<h1>MANAGE YOUR STUDENTS' SCORES</h1>
<div>
    <div><a href="/students-list">STUDENTS LIST</a></div>
    <div><a href="/subjects-list">SUBJECTS LIST</a></div>
</div>
<div>
    <div><a href="/add-student">ADD STUDENT</a></div>
    <!-- might not applicable as teacher should access to add score page from students list
    <div><a href="/add-score">ADD SCORE</a></div>
    -->
</div>
