<h1>MANAGE YOUR STUDENTS' SCORES</h1>
<div>
    <div><a href="/students">STUDENTS LIST</a></div>
    <div><a href="/subjects">SUBJECTS LIST</a></div>
</div>
<div>
    <div><a href="/add-student">ADD STUDENT</a></div>
    <div><a href="/add-score">ADD SCORE</a></div>
</div>
