<div><h1>STUDENT LIST</h1></div>
<div>
 <ul>
   {{#each students}}
    <li>{{student.name}}, {{student.id}}, <a href="/student-score/{{studentid}}">See scores</a>, <a href="/add-score">Add score</a></li>
   {{/each}}

   {{#each student}}
    <p>{{id}}</p>
   {{/each}}
 </ul>
</div>
