<a href="/">Home</a>
<div>
  <h1>STUDENT'S PERFORMANCE ACROSS SUBJECTS</h1>
  <h2>Student Name: {{student.first_name}} {{student.last_name}}</h2>
</div>
<div>
  <ul>
    {{#each scores}}

    <li>{{subject_name}}: {{score}}</li>
    {{/each}}
  </ul>
</div>
