<div>
  <h1>SUBJECTS LIST</h1>
  <h4>View students' performance in each subject</h4>
</div>
<div>
  <ul>
    {{#each subjects}}
    <li><a href="/subjects/{{subjectid}}">{{this.subject}}</a></li>
    {{/each}}
  </ul>
</div>