<a href="/">Home</a>
<div>
  <h1>SUBJECTS LIST</h1>
  <h4>View students' performance in each subject</h4>
</div>
<div>
  <ul class='no-bullet centered-block'>
    {{#each subjects}}
    <li><a href="/subjects-list/{{id}}">{{subject_name}}</a></li>
    {{/each}}
  </ul>
</div>
