<a href="/">Home</a>
<div>
  <h1>SUBJECT SCORES</h1>

</div>
<div>
  <ul class='no-bullet centered-block'>
    {{#each subject}}

    <li>{{first_name}} {{last_name}}: {{score}}</li>
    {{/each}}
  </ul>
</div>
