<a href="/">Home</a>
<div>
  <h1>SUBJECT SCORES</h1>
  <h2>Subject Name: {{subject_name}}</h2>
</div>
<div>
  <ul>
    {{#each subject}}

    <li>{{first_name}} {{last_name}}: {{score}}</li>
    {{/each}}
  </ul>
</div>
